.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #272627;
  color: #fff;
  padding: 20px;
  width: 100%; /* Asegúrate de que ocupe todo el ancho */
  z-index: 1; /* Asegúrate de que esté por encima de otros elementos si es necesario */
}
