.homeProductos{
    width: 90%;
}

.headerProductos{
    display: flex;
    justify-content: space-between;
    margin: 3vh;
}

.filtrarProducto{
    display: flex;
}

.listProductos{
    border: 1px solid #D9D9D9;
}

.buttonProductos{
    height: 6vh;
}

.categoriasTabla{
    color: #000;
    display: flex;
    justify-content: space-between;
    padding: 2% 2% 0% 2%;
}

.categoriasTabla h4{
    font-size: 1rem;
    display: flex;
}

.productoElement{
    height: 8vh;
    border: 1px solid;
}
