.containerPrincipal{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #d9d9d9;
}

.containerLeft{
 background-color: #1B5939;   
 width: 25vw;
 height: 100vh;
 padding: auto;
 display: flex;
 justify-content: center;
 color: white;
}